
.title_container {
    display: flex;
    flex-direction: column;
}   

.title_title {
    font-family: interbold;
    font-size: 45px;
    margin-bottom: 14px;
}  

.title_line {
    width: 50%; 
    height: 3px;
    background-color: #B59D6E; 
    margin-bottom: 45px;
}   

@media screen and (max-width: 992px) {
    .title_title {
        font-size: 33px;
    }
} 

@media screen and (max-width: 768px) {
    .title_title {
        font-size: 25px;
    }
}